* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.h-20 {
  height: 20vh;
}

.w-80 {
  width: 80%;
}

.w-20 {
  width: 20%;
}

.m-t-16 {
  margin-top: 16px;
}

.m-b-16 {
  margin-bottom: 16px;
}

.m-l-32 {
  margin-left: 32px;
}

.t-a-c {
  text-align: center;
}

.f-c {
  display: flex;
  flex-direction: column;
}

.a-i-c {
  align-items: center;
}

.a-i-fs {
  align-items: flex-start;
}

.j-c-c {
  justify-content: center;
}

.j-c-fs {
  justify-content: flex-start;
}

.j-c-sb {
  justify-content: space-around;
}

.b-r-50p {
  border-radius: 50%;
}

.b-r-16 {
  border-radius: 16px;
}

.b-r-24 {
  border-radius: 24px;
}

.b-r-32 {
  border-radius: 32px;
}

.t-c-w {
  color: white;
}

.f-r {
  display: flex;
  flex-direction: row;
}

.g-8 {
  gap: 8px;
}

.b-g-t {
  background-color: transparent;
}

.m-lr-a {
  margin-left: auto;
  margin-right: auto;
}

.b-no {
  border: none;
}

.b-b-w {
  border-bottom: 1px solid white;
}

.b-3-w {
  border: 3px solid white;
}

.p-b-8 {
  padding-bottom: 8px;
}
