#main-container {
  background-color: #494545;
  /* height: 100vh; */
}

#card-container {
  width: 40%;
  height: 70%;
  min-width: 300px;
  min-height: 500px;
  background-color: rgba(25, 133, 124, 0.623);
}

#card-pic {
  width: 150px;
}

/* #media-container {
  height: 20%;
} */

.media a img {
  height: 30px;
}

.media {
  background-color: white;
  width: 50px;
  height: 50px;
}

* {
  font-family: sans-serif;
}

h1 {
  font-size: 2.5rem;
}

#card__job {
  font-size: 1.2rem;
}